doctype html
html(lang="en")
  head
    title= title
    link(href='./styles/main.css', rel='stylesheet', inline)  
    link(href='./styles/print.css', rel='stylesheet', media='print', inline)
  body
    div
      !{resumeBody}
        
       
